<div class="checkout">
  <h2>Checkout</h2>
  <p class="message-p">{{ orderMsg }}</p>
  <div class="row">
    <div class="col-sm-7 shipping-address">
      <h3>Add Shipping Address</h3>
      <form
        #orderData="ngForm"
        class="common-form"
        (ngSubmit)="orderNow(orderData.value)"
      >
        <input
          class="form-input"
          type="text"
          placeholder="Enter User Email"
          name="email"
          ngModel
        />
        <input
          class="form-input"
          type="text"
          placeholder="Enter your Address"
          name="address"
          ngModel
        />
        <input
          class="form-input"
          type="text"
          placeholder="Enter Contact Number"
          name="contact"
          ngModel
        />
        <button class="form-button">Order Now</button>
      </form>
    </div>
    <div class="col-sm-5 order-amount-section">
      <h3>Total Amount: ₹{{ totalPrice }}</h3>
      <h4>Payment Method: <b>Cash On Delivery</b></h4>
    </div>
  </div>
</div>
