<div class="cart-page">
  <h1>Cart Page</h1>
  <div class="row">
    <div class="col-sm-8 details">
      <ul>
        <li>
          <img
            src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
            alt=""
          />
        </li>
        <li><span>Product Name</span></li>
        <li><span>Price: 100</span></li>
        <li><span>Quantity: 1</span></li>
        <li><button class="form-button">Remove from Cart</button></li>
      </ul>
      <ul>
        <li>
          <img
            src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
            alt=""
          />
        </li>
        <li><span>Product Name</span></li>
        <li><span>Price: 100</span></li>
        <li><span>Quantity: 1</span></li>
        <li><button class="form-button">Remove from Cart</button></li>
      </ul>
      <ul>
        <li>
          <img
            src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
            alt=""
          />
        </li>
        <li><span>Product Name</span></li>
        <li><span>Price: 100</span></li>
        <li><span>Quantity: 1</span></li>
        <li><button class="form-button">Remove from Cart</button></li>
      </ul>
    </div>
    <div class="col-sm-4 summary">
      <h3>Summary</h3>
      <ul>
        <li><span>Amount</span><span>300</span></li>
        <li><span>Tax</span><span>30</span></li>
        <li><span>Delivery</span><span>60</span></li>
        <li><span>Discount</span><span>30</span></li>
        <li>
          <span><h4>Total</h4></span>
          <span><h4>300</h4></span>
        </li>
      </ul>
    </div>
  </div>
</div>
