table {
  text-align: left;
  color: #000000;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #000000;
  padding: 10px;
  min-height: 160px;
}

img {
  width: 100px;
}

.adjust-update-link {
  margin-left: 10px;
}
