<div class="my-orders">
  <h1>My Orders</h1>
  <div class="row">
    <div class="col-sm-2">
      <span>Order</span>
    </div>
    <div class="col-sm-2">
      <span>Order Id</span>
    </div>
    <div class="col-sm-2">
      <span>Price</span>
    </div>
    <div class="col-sm-2">
      <span>Status</span>
    </div>
    <div class="col-sm-2">
      <span>Action</span>
    </div>
  </div>

  <div class="row order-data" *ngFor="let order of orderData">
    <div class="col-sm-2">
      <img
        class="order-img"
        src="https://cdn3.vectorstock.com/i/1000x1000/62/87/flat-design-shopping-cart-vector-13576287.jpg"
        alt=""
      />
    </div>
    <div class="col-sm-2">
      <span>{{ order.id }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ order.totalPrice }}</span>
    </div>
    <div class="col-sm-2">
      <span>In Process</span>
    </div>
    <div class="col-sm-2">
      <span><button class="form-button">Cancel Order</button></span>
    </div>
  </div>
</div>
