.my-orders {
  margin-bottom: 200px;
}

.my-orders h1 {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.my-orders .order-img {
  width: 50px;
}

.order-data {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
