.user-auth h1 {
  margin-bottom: 80px;
  margin-top: 50px;
  color: blueviolet;
  text-align: center;
}

.user-auth {
  margin-bottom: 50px;
}

/* .user-auth p {
  margin-top: 30px;
} */

.common-form a {
  color: blueviolet;
  cursor: pointer;
}


