<div class="row search-item">
  <div class="col-sm-3">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9iKcyfFORv3SnoB5MNA-J53EuMiGyW__xuA&usqp=CAU"
      alt=""
    />
  </div>
  <div class="col-sm-8 details">
    <h6>Product Name</h6>
    <p><b>Price: 1000</b></p>
    <p><span> color:Red </span> <span>Category:Mobile</span></p>
    <p>product search ui</p>
  </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9iKcyfFORv3SnoB5MNA-J53EuMiGyW__xuA&usqp=CAU"
        alt=""
      />
    </div>
    <div class="col-sm-8 details">
      <h6>Product Name</h6>
      <p><b>Price: 1000</b></p>
      <p><span> color:Red </span> <span>Category:Mobile</span></p>
      <p>product search ui</p>
    </div>
  </div>
  <div class="row search-item">
    <div class="col-sm-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9iKcyfFORv3SnoB5MNA-J53EuMiGyW__xuA&usqp=CAU"
        alt=""
      />
    </div>
    <div class="col-sm-8 details">
      <h6>Product Name</h6>
      <p><b>Price: 1000</b></p>
      <p><span> color:Red </span> <span>Category:Mobile</span></p>
      <p>product search ui</p>
    </div>
  </div>
  <div class="row search-item">
    <div class="col-sm-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9iKcyfFORv3SnoB5MNA-J53EuMiGyW__xuA&usqp=CAU"
        alt=""
      />
    </div>
    <div class="col-sm-8 details">
      <h6>Product Name</h6>
      <p><b>Price: 1000</b></p>
      <p><span> color:Red </span> <span>Category:Mobile</span></p>
      <p>product search ui</p>
    </div>
  </div>
  <div class="row search-item">
    <div class="col-sm-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9iKcyfFORv3SnoB5MNA-J53EuMiGyW__xuA&usqp=CAU"
        alt=""
      />
    </div>
    <div class="col-sm-8 details">
      <h6>Product Name</h6>
      <p><b>Price: 1000</b></p>
      <p><span> color:Red </span> <span>Category:Mobile</span></p>
      <p>product search ui</p>
    </div>
  </div>
