<ngb-carousel *ngIf="popularProducts">
  <ng-template *ngFor="let item of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="product-header-img"
        src="{{ item.image }}"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">Playstation 5</h6>
          <div class="product-price">
            <h6>Price: 50000</h6>
          </div>
          <div class="product-color">
            <h6>Color: white</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">Playstation 5</h6>
          <div class="product-price">
            <h6>Price: 50000</h6>
          </div>
          <div class="product-color">
            <h6>Color: white</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">Playstation 5</h6>
          <div class="product-price">
            <h6>Price: 50000</h6>
          </div>
          <div class="product-color">
            <h6>Color: white</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">Playstation 5</h6>
          <div class="product-price">
            <h6>Price: 50000</h6>
          </div>
          <div class="product-color">
            <h6>Color: white</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">Playstation 5</h6>
          <div class="product-price">
            <h6>Price: 50000</h6>
          </div>
          <div class="product-color">
            <h6>Color: white</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://cdn1.smartprix.com/rx-iONR62zZ0-w420-h420/sony-playstation-5-p.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">Playstation 5</h6>
          <div class="product-price">
            <h6>Price: 50000</h6>
          </div>
          <div class="product-color">
            <h6>Color: white</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
